<div class="jumbotron">
	<h1>Walt Disney</h1>
	<p>
		<%= link_to "Click here for more campaigns", "http://engodo.com" %>
	</p>
	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<!-- Column Rows for images and content -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Planes</h3>
        <p>From above the world of "Cars," Disney's "Planes" is an action-packed 3D animated comedy adventure about Dusty, a small-town plane whose high-flying dream gives a spellbound world the inspiration to soar.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>The Fifth Estate</h3>
        <p>Bill Condon ("Dreamgirls," "The Twilight Saga: Breaking Dawn") will direct "The Fifth Estate" from a screenplay by Josh Singer ("The West Wing"), based on "Inside WikiLeaks: My Time with Julian Assange at the World's Most Dangerous Website" by Daniel Domscheit-Berg and "WikiLeaks: Inside Julian Assange's War on Secrecy" by David Leigh and Luke Harding.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thor: The Dark World</h3>
        <p>Marvel's "Thor: The Dark World" continues the big-screen adventures of Thor, the Mighty Avenger, as he battles to save Earth and all the Nine Realms from a shadowy enemy that predates the universe itself.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- Second row of content for brand pages -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" class="img-responsive" alt="No Img. Available">
      <div class="caption">
        <h3>The Delievery Man</h3>
        <p>From DreamWorks Pictures comes "Delivery Man," the story of affable underachiever David Wozniak (Vince Vaughn), whose mundane life gets twisted in a knot when he finds out that he fathered 533 children via sperm donations he made twenty years earlier. In debt to the mob, rejected by his pregnant girlfriend, things couldn't look worse for David when he's hit with a lawsuit from 142 of the 533 twentysomethings who want to know the identity of the donor. As David struggles to decide whether or not he should reveal histrue identity, he embarks on a journey that leads him to discover not only his true self but the father he could become as well.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Frozen</h3>
        <p>n "Frozen," Anna (voice of Kristen Bell), a fearless optimist, teams up with extreme mountain man Kristoff (voice of Jonathan Groff) and his sidekick reindeer Sven in an epic journey, encountering mystical trolls, an amazing and comedic snowman named Olaf, Everest-like conditions and magic at every turn in a race to find Anna's sister Elsa (voice of Idina Menzel), the Snow Queen, and save their kingdom from eternal winter.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Saving Mr. Banks</h3>
        <p>Inspired by true events, "Saving Mr. Banks" is the extraordinary, untold story of how Disney's classic "Mary Poppins" made it to the screen—and the testy relationship that the legendary Walt Disney had with author P.L. Travers that almost derailed it.</p>
        <p><a href="#" class="btn btn-primary">Launch</a></p>
      </div>
    </div>
  </div>
</div>